@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

$colorA: #8e36b7;
$colorB: #494949;

body {
  font-family: 'Source Sans Pro', sans-serif;
  // font-weight: 300;
  margin: 0;
  padding: 0;
}

.neide {
  background-color: fuchsia;
}

#navbar {
  height: 130px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(150,150,150,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(150,150,150,1);
  box-shadow: 0px 2px 5px 0px rgba(150,150,150,1);

  .row {
    height: 130px;
  }

  .logo {
    font-size: 30px;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    &:hover {
      background: red;
      
    }
  }

  ul, li {
    text-decoration: none;
    list-style: none;
  }
}

#footer {
  //  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.text-right {
  text-align: right;
}


.card {
  width: 100%;
  // padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
  box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
  border-radius: 5px;

  img {
    width: 100%;
  }

  .info {
    padding: 15px;

    .category {
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: 600;
      color: $colorA;
    }

    .title {
      font-size: 1.1em;
      margin-top: 0;
      font-weight: 300;
      height: 6vh;

    }

    .price {
      font-size: 1.3em;
      font-weight: 600;
      margin: 0;
      color: $colorB;
    }

    .installment {
      font-size: 0.9em;
      font-weight: 300;
      margin-top: 5px;
    }

  }

  .cardBtn {
    // width: 100%;
    // min-height: 50px;
    border-top: 1px solid rgb(223, 223, 223);
    // border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: $colorA;
    cursor: pointer;

    &:hover {
      background-color: $colorA;
      color: #fff;
      transition: 0.3s;
    }
  }
}